/* 
Colors: #2b8a3e inchis
        #2f9e44 deschis

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  background-color: #ebfbee;
}

.logo {
  font-family: "Sigmar", cursive;
  letter-spacing: 5px;
  font-size: 1.3rem;
  color: #0c3814;
  margin-right: auto;
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #ebfbee;
  z-index: 999;
}

.display-none {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0rem 2rem;
  height: 6rem;
}

.list-items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.list-item a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #111;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}

.list-item a:hover {
  border-bottom: 1px solid #0c3814;
  transition: 0.3s;
}
.btn {
  display: inline-block;
  padding: 1rem;
  background-color: #0c3814;
  border: none;
  border-radius: 11px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  width: 12rem;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #2b8a3e;
  transition: 0.3s;
}

.section {
  padding: 4rem;
}

/* ============================Section HERO ======================================= */

.section-hero {
  height: 100vh;
  background-image: url("/images/img-2.jpg");
  background-size: cover;
  display: flex;
}

.hero-text {
  /* background-color: #ebfbee; */
  height: 40%;
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;

  width: 30%;
  color: #fff;
}

.hero-text p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #fff;
}

.hero-text h1 {
  font-size: 5rem;
}

/* ============================Section Cusmotes ======================================= */

.section-customers {
  background-color: #fff;
}

.subheading {
  font-size: 3.2rem;
  margin: 5rem;
  color: #555;
}

.section-customers .list-items {
  justify-content: space-around;
}

.list-items img {
  width: 10rem;
  height: 2rem;
}

/* =================================Section About us =============================================== */

.section-about-us {
  height: 100vh;
}

/* =================================Section Our Crew =============================================== */
.our-crew {
  height: 100vh;
  background-color: #fff;
}

/* ==================================Section Contact ==================================================== */

.section-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: self-start;
}

.contact-img img {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  /* margin-bottom: 20px; */
}

.form-control label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 1rem;
  margin-right: auto;
}

.form-control input,
.form-control textarea {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.4rem;
  margin-right: 2rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border-color: #0c3814;
}
textarea {
  resize: none;
  width: 60%;
  height: 10rem;
}
ion-icon {
  font-size: 1.8rem;
  margin-left: auto;
  color: #0c3814;
}

/* ========================================FOOTER =================================================== */

.footer {
  background-color: #0c3814;
  height: 16rem;
}
